<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ERROR: You Must Provide a City Name !</h1><br>
    <img src="https://www.kingcode.co.il/wp-content/uploads/2020/11/Error-1024x682.jpg">
</body>
</html>