<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
        
       {{>header}}
       <main></main>
       <h1>{{somekey}}</h1>
           Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum, aliquam cum? Quae sit nemo explicabo error ullam? Doloremque repellat maxime adipisci, saepe, vero blanditiis reiciendis corporis sed unde nihil sunt.
           Sunt repellat dolores maiores amet eligendi! At ad ab, sunt accusantium itaque voluptate magnam cupiditate delectus cumque, excepturi animi doloribus quam. Fuga aspernatur atque quaerat possimus deleniti hic, iste a.
           Laudantium minima assumenda similique aut iste, doloribus quae asperiores at numquam quos, aliquid ullam molestias et incidunt iusto ab expedita repudiandae quaerat praesentium nisi nihil. Aspernatur eos fuga blanditiis natus?
        </main><br>
        {{>footer}}

</body>
</html>