<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
      
       {{>header}}
       <main></main>
    <h1>{{somekey}}</h1>
            <form action="/city1" method="get">
                <label>city:</label><br>
                <input type="text" placeholder="enter your city" name="city1"><br><br>
                <input type="submit" value="send">
            </form>
            {{ezraG}}
        </main><br>
        {{>footer}}
</body>
</html>